# Environment the app is running in: development, staging, production
ENV=development

# Path to SSL certificate file
CRT=/path/to/ssl/crt

# Path to SSL private key file
KEY=path/to/ssl/key

# Port the application will listen on
PORT=1234

# API key (preferably a 24 character random string)
API_KEY=abc123