# Port the server will listen on
PORT=5099

# API key (preferably a 24 character random string)
API_KEY=abc123

# Random characters the alias is made of (if not inputted in the env file, 8 chars is chosen)
RAND_CHARS=6